version: '3.2'
services:
  sharedpg:
    container_name: sharedpg
    image: postgres:latest
    volumes:
      - ./sharedpg:/var/lib/postgresql/data
    restart: always
    ports:
      - 5433:5432
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    networks:
    - shared
volumes:
  sharedpg:
    name: sharedpg
networks:
  shared:
    name: shared
    driver: bridge
